#status { height: 20px; width: 20px;}
#status.online { background-image: url('imgs/online.png'); background-repeat: no-repeat; background-size: 20px 20px;}
#status.offline { background-image: url('imgs/offline.png'); background-repeat: no-repeat; background-size: 20px 20px;}