/nbproject/private/
nbproject/project.properties
nbproject/project.xml
.idea/workspace.xml
.idea/tpPersistance.iml
.idea/workspace.xml
.DS_Store
.DS_Store
.DS_Store
.idea/php.xml
.idea/workspaceold.xml
